<div class="col-md-12" ng-controller="PatientprescriptionCtrl">
	 <form class="form-horizontal">	
		 <div class="panel panel-default">
			  <div class="panel-heading">Patient  Prescription</div>
			  <div class="panel-body">
			     <div class="row">
			     	<div class="col-xs-6">
			     		 <div class="row">
			     		 	<div class="col-xs-2">
			     		 		<b>Name :</b>
			     		 	</div>	
			     		 	<div class="col-xs-10">
			     		 		<p>Ranga Komarthi</p>
			     		 	</div>
			     		 </div>	
			     	</div>	

			     	<div class="col-xs-6">
			     		 <div class="row">
			     		 	<div class="col-xs-3">
			     		 		<b>Ref Number :</b>
			     		 	</div>	
			     		 	<div class="col-xs-9">
			     		 		<p>D-001</p>
			     		 	</div>
			     		 </div>	
			     	</div>	

			     <div>	
			  </div>
		</div>
	</form>	
</div>
