<div class="col-md-12" ng-controller="NewpasientCtrl">
 <form class="form-horizontal">	
 
	  <div class="row">
			<div class="col-lg-12">
			<h4>PATIENT DETAILS</h2>
			</div>
	  </div>
	  <div class="panel panel-default">
		  <div class="panel-heading">Personal Info</div>
		  <div class="panel-body">
		     <div class="row">
		     	<div class="col-xs-6">
		     		 <div class="form-group">
				      <label for="inputEmail" class="col-lg-2 control-label">Name</label>
				      <div class="col-lg-10">
				        <input type="text" class="form-control" placeholder="Name">
				      </div>
				    </div>
		     	</div>	
		     	<div class="col-xs-6">
		     		 <div class="form-group">
				      <label for="inputEmail" class="col-lg-2 control-label">Age</label>
				      <div class="col-lg-10">
				        <input type="text" class="form-control" placeholder="Age">
				      </div>
				    </div>
		     	</div>	
		     </div>	<br/>
		     <div class="row">
		     	<div class="col-xs-6">
		     		 <div class="form-group">
				      <label for="inputEmail" class="col-lg-2 control-label">Occupation</label>
				      <div class="col-lg-10">
				        <input type="text" class="form-control" placeholder="Occupation">
				      </div>
				    </div>
		     	</div>	
		     	<div class="col-xs-6">
		     		 <div class="form-group">
				      <label for="inputEmail" class="col-lg-2 control-label">Contact No</label>
				      <div class="col-lg-10">
				        <input type="text" class="form-control" placeholder="Contact No">
				      </div>
				    </div>
		     	</div>	
		     </div>	<br/>
		      <div class="row">
		     	<div class="col-xs-6">
		     		 <div class="form-group">
				      <label for="inputEmail" class="col-lg-2 control-label">Address</label>
				      <div class="col-lg-10">
				       <textarea class="form-control" rows="3" id="textArea"></textarea>
				      </div>
				    </div>
		     	</div>	
		     	<div class="col-xs-6">
		     		 <div class="form-group">
				      <label for="inputEmail" class="col-lg-2 control-label">Gender</label>
				      <div class="col-lg-10">
				       <div class="radio">
					          <label>
					            <input type="radio" name="optionsRadios" id="male" value="Male" checked="">
					            Male
					          </label>
					        </div>
					        <div class="radio">
					          <label>
					            <input type="radio" name="optionsRadios" id="Female" value="Female">
					            Female
					          </label>
					        </div>
				      </div>
				    </div>
		     	</div>	
		     </div>	
		  </div>
	  </div>
	  <div class="panel panel-default">
		  <div class="panel-heading">Diabetic History</div>
		  <div class="panel-body">
		     <div class="row">
		     	<div class="col-xs-4">
		     		 <div class="form-group">
				      <label for="inputEmail" class="col-lg-2 control-label">Duration</label>
				      <div class="col-lg-2">
				        <input type="text" class="form-control" placeholder="year"> 
				      </div>
				      <div class="col-lg-1">
				      	/
				      </div>	
				       <div class="col-lg-2">
				         <input type="text" class="form-control" placeholder="month">
				      </div>
				    </div>
		     	</div>	
		     	<div class="col-xs-8">
		     		 <div class="form-group">
				      <label for="inputEmail" class="col-lg-2 control-label">Family history</label>
				      <div class="col-lg-10">
				          <div class="radio">
					          <label>
					            <input type="radio" name="familyhistory" id="positive" value="positive" checked="">
					            Positive
					          </label>
					        </div>
					        <div class="radio">
					          <label>
					            <input type="radio" name="familyhistory" id="negative" value="negative">
					            Negative
					          </label>
					        </div>
				      </div>
				    </div>
		     	</div>	
	         </div><br/>
	          <div class="row">
	          	<div class="col-xs-9">
	          		 <div class="form-group">
				      <label for="inputEmail" class="col-lg-2 control-label">Previous Medication</label>
				      <div class="col-lg-10">
				       <textarea class="form-control" rows="3" id="textArea"></textarea>
				      </div>
				    </div>
	            </div>		
	          </div>	
</div>
</form>		



</div>
